{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "env": {
    "jest": false
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "no-async-promise-executor": "off",
    "no-return-assign": "off",
    "import/no-named-as-default-member": "off",
    "import/prefer-default-export": 0,
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off", // Désactive no-unused-vars
    "react/no-unescaped-entities": "off", // Désactive react/no-unescaped-entities
    "arrow-body-style": "off",
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
