@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $dark-gray;
  height: '100vh';
}

.middle {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(50);
}

.banner {
  background-color: #00908a;
}

.containertitle {
  display: flex;
  flex-direction: column;
}

.logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.imgheart {
  display: flex;
  align-self: flex-end;
}
.titlebloc {
  font-size: 70px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #00908a;
  margin-top: 30;
}

@media (max-width: 768px) {
  .titlebloc {
    font-size: 40px;
  }
  .arrowContainer {
    position: relative;
    display: flex;
  }
}

@media (min-width: 960px) and (max-width: 1024px) {
  .col {
    margin-top: 40px;
  }
  .arrowContainer {
    position: relative;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  /* Vos styles pour les tablettes en mode portrait ici */
  .col {
    margin-top: 40px;
  }
  .arrowContainer {
    position: relative;
    display: flex;
  }
}

.subtitlebloc {
  font-size: 52;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #303030;
  display: block;
}
.subtitleblocbis {
  font-size: 52;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #303030;
  display: block;
}

.bgcontainer {
  display: flex;
  flex: 1;
  background-image: url('/assets/images/BG.png');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.asiderigthcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer {
  align-self: center;
  display: flex;

  flex-direction: row;
}
.mybutton {
  width: 393px;
  height: 88px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfb693; /* Vous pouvez définir la couleur de fond souhaitée ici */
  border: none;
  cursor: pointer;
  font-size: 72;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: '#ffffff';
  display: flex;
  color: white;
}

.arrow {
  display: flex;
  background-color: orangered;
  position: relative;
  align-self: flex-end;
  margin-top: 90;
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
  right: 0px;
  margin-left: 60px;
}
.arrowleft {
}
.arrowtext {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: #00908a;
  font-size: 18px;
}

.buttontext {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 25px;
}

.greeting {
  color: white;
  font-size: rem(16);
  position: absolute;
  top: rem(32);
  right: rem(32);
}

.title {
  color: white;
  margin-top: rem(40);
  font-size: rem(52);
  text-align: center;
}

.description {
  color: $light-gray;
  margin-top: rem(24);
  font-size: rem(16);
  text-align: center;
}

.logo {
  width: rem(160);
  height: rem(160);
}

.logout {
  width: 45%;
  height: rem(50);
}

.wheelcontainer {
  display: flex;
  background-color: #303030;
  margin-left: 40px;
  border-radius: 32px 32px 0px 0px;
  padding-block: 24px;
  padding-inline: 32px;
}

.wheeltitle {
  font-size: 25px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  display: block;
}

.wheelsubtitle {
  font-size: 14px;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  display: block;
}
