@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $dark-gray;
  height: '100vh';
}

.middle {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-top: 64px;
}

.banner {
  background-color: #00908a;
}

.containertitle {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.containerback {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
}

.flower {
  position: absolute;
  right: 0;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #00908a;
  border-radius: 16px;
}

.backtext {
  margin-left: 24px;
  color: #00908a;
}

.imgheart {
  display: flex;
  align-self: flex-end;
}
.titlebloc {
  font-size: 50px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #00908a;
  margin-top: 30;
}

.titlebutton {
  font-size: 35px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  line-height: 47.25px;
  text-align: center;
  color: #255866;
}
/* Media query pour les smartphones */
@media (max-width: 768px) {
  .titlebloc {
    font-size: 40px;
  }
  .col {
    margin-top: 40px;
  }
}

@media (min-width: 960px) and (max-width: 1024px) {
  .col {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  /* Vos styles pour les tablettes en mode portrait ici */
  .col {
    margin-top: 40px;
  }
}

.container {
  background-image: url('/assets/images/BG.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-left: 112px;
  padding-right: 112px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.asiderigthcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer {
  align-self: center;
  display: flex;

  flex-direction: row;
}
.mybutton {
  /* width: 214px; */
  padding-left: 10px;
  padding-right: 10px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfb693; /* Vous pouvez définir la couleur de fond souhaitée ici */
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  margin-top: 48px;
  color: white;
  align-self: center;
}

.mybuttonshow {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfb693; /* Vous pouvez définir la couleur de fond souhaitée ici */
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  align-self: flex-end;
  color: white;
  margin-right: 10px;
  margin-top: -80px;
}

.buttontext {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.greeting {
  color: white;
  font-size: rem(16);
  position: absolute;
  top: rem(32);
  right: rem(32);
}

.title {
  color: white;
  margin-top: rem(40);
  font-size: rem(52);
  text-align: center;
}

.description {
  color: $light-gray;
  margin-top: rem(24);
  font-size: rem(16);
  text-align: center;
}

.logo {
  width: rem(160);
  height: rem(160);
}

.logout {
  width: 45%;
  height: rem(50);
}
