@import '../../theme/core.scss';

.row {
  display: flex;
  margin-top: 64px;
}

.progressBar {
  background-color: transparent; /* Fond transparent */
  // border: 2px solid green; /* Contour vert */
}

.containertitle {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.offerTitle {
  font-size: 25px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #255866;
  padding-bottom: 24px;
}
.titlecheck {
  font-size: 25px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #255866;
}
.logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.containerback {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
}

.containercheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #30303020; /* Bordure en haut */
  border-bottom: 1px solid #30303020; /* Bordure en bas */
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
  padding-top: 18px;
  margin-top: 24px;
}

.contentcheck {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #00908a;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 24px;
}

.flower {
  position: absolute;
  right: 0;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #00908a;
  border-radius: 16px;
}

.backtext {
  margin-left: 24px;
  color: #00908a;
}

.titlebloc {
  font-size: 50px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #00908a;
  margin-top: 30;
}

.titlebutton {
  font-size: 35px;
  font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  line-height: 47.25px;
  text-align: center;
  color: #255866;
}
/* Media query pour les smartphones */
@media (max-width: 768px) {
  .titlebloc {
    font-size: 40px;
  }
  .col {
    margin-top: 40px;
  }
}

@media (min-width: 960px) and (max-width: 1024px) {
  .col {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  /* Vos styles pour les tablettes en mode portrait ici */
  .col {
    margin-top: 40px;
  }
}

.container {
  background-image: url('/assets/images/BG.png');
  background-size: cover;
  width: 100%;

  padding-left: 112px;
  padding-right: 112px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 96px;
}

.mybutton {
  /* width: 214px; */
  padding-left: 10px;
  padding-right: 10px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfb693; /* Vous pouvez définir la couleur de fond souhaitée ici */
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  margin-top: 48px;
  color: white;
  align-self: center;
  margin-bottom: 20px;
}

.mybuttonshow {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfb693; /* Vous pouvez définir la couleur de fond souhaitée ici */
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  align-self: flex-end;
  color: white;
  margin-right: 10px;
  margin-top: -80px;
}

.buttontext {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.step {
  text-align: center;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #00908a;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px; /* Espacement entre le cercle et le texte */
}

/* Style pour chaque étape */
.step p {
  margin: 0;
}

/* Style pour chaque option */
.step p:last-child {
  font-weight: bold;
}

/* Style pour chaque étape active et la barre qui la précède */
.step.active .circle {
  background-color: white; /* Couleur du cercle actif */
  border-color: #00aaff; /* Couleur du contour du cercle actif */
}

.step.active + .bar {
  background-color: #00aaff; /* Couleur de la barre active */
}

.progress {
  position: relative;
  display: flex;
}

.progresstrack {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #dfe3e4;
  z-index: -1;
}

.progressstep {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;

  // Hide the final step's progress bar
  &:last-child:after {
    display: none;
  }

  // Step's circle in default state
  &:before {
    content: '\f00c';
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 4px solid #dfe3e4;
    border-radius: 100%;
    color: #fff;
  }

  // Step's progress bar in default state
  &:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    width: 0%;
    transition: width 1s ease-in;
    height: 5px;
    background: #dfe3e4;
    z-index: -1;
  }

  // Step's active state
  &.is-active {
    color: #2183dd;

    &:before {
      border: 4px solid #777;
      animation: pulse 2s infinite;
    }
  }

  // Step's complete state
  &.is-complete {
    color: #009900;

    // Step's circle in complete state
    &:before {
      font-family: FontAwesome;
      font-size: 10px;
      color: #fff;
      background: #009900;
      border: 4px solid transparent;
    }

    // Step's progress bar in complete state
    &:after {
      background: #2183dd;
      animation: nextStep 1s;
      animation-fill-mode: forwards;
    }
  }
}

// Pulse animation for Step's circle in active state
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}

// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
